<%- include('partials/header'); -%>
<h1 class="playfairFont" >About Me</h1>
<div>
  <p style="white-space: pre-line"><%= aboutPage %></p>
</div>
<form action="/editAbout" method="get">
  <button style="submit" class="btn btn-primary btn-xs">Edit</button>
</form>
<%- include('partials/footer'); -%>
