<%- include('partials/header'); -%>
<h2 class="playfairFont">Edit Home</h2>
<form action="/editHome" method="post">
  <textarea rows="5" cols="160" name="inputHome"></textarea>
  <button type="submit" class="btn btn-primary submitButton" >Edit</button>
</form>
<%- include('partials/footer'); -%>
