<%- include('partials/header'); -%>
<h2 class="playfairFont">Edit About Me</h2>
<form action="/editAbout2" method="post">
  <textarea rows="5" cols="160" name="inputAbout"></textarea>
  <button type="submit" class="btn btn-primary submitButton">Edit</button>
</form>
<%- include('partials/footer'); -%>
