<%- include('partials/header'); -%>
<h1 class="playfairFont"><%= postTitle %></h1>
<div>
  <p style="white-space: pre-line"> <%= postContent %> </p>
</div>

<div class="postBtnsContainer" >
  <form action="/edit" method="post">
    <button type="submit" class="btn btn-primary btn-xs">Edit</button>
  </form>
  <form action="/delete" method="post">
    <button type="submit" class="btn btn-danger btn-xs">Delete</button>
  </form>
</div>

<%- include('partials/footer'); -%>
